*{
  margin: 0;
  padding: 0;
}

/* ************************************* */
/* ************HEADER STYLING************ */
/* ************************************** */
header{
  position: relative;
  height: 450px;
  width: 100%;
  color: white;
  background: #C04848;  /* fallback for old browsers */
  background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url("https://ik.imagekit.io/ikmedia/blog/hero-image.jpeg");
  background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url("https://ik.imagekit.io/ikmedia/blog/hero-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: inherit;
}
.hero-header{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
}

.hero-header h1, nav{
  margin-top: 56px;
}
.hero-header h1{
  font-size: 70px;
}
.hero-header a{
  text-decoration: none;
  color: white;
}
.cake{
  font-size: 10px;
  position: absolute;
  top: 80px;
}
nav a{
  margin-left: 30px;
  font-size: 23px;
  text-decoration: none;
  color: white;
}
.nav-class{
  margin-top: 80px;
  display: flex;
  gap: 2rem;
}
.nav-class a:active{
  border-bottom: 2px solid white;
}
.nav-class a:hover{
  color: pink;
}

.main-header{
  text-align: center;
  margin-top: 30px;
}

.main-header span{
  font-weight: 1000;
  font-size: 50px;
}
.main-header p{
  font-size: 23px;
}

.main-header button{
  width: 190px;
  height: 60px;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 0px;;
  box-shadow: none;
  cursor: pointer;
  line-height: 30px;
  letter-spacing: 5px;
}

.main-header button:hover{
  background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
  color: #FAF8F6;
}

.toggle-btn{
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-top: 80px;
}

.toggle-btn{
  display: none;
}

.dropdown-menu{
  position: absolute;
  top: 160px;
  left: 2rem;
  right: 2rem;
  width: 90%;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu li{
  width: 800px;
  word-wrap: break-word;
  font-size: 30px;
}
.dropdown-menu li a{
  text-decoration: none;
  color: white;
}
.dropdown-menu.open{
  height: 700px;
}

.dropdown-menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

@media(max-width: 992px){
  header{
    height: 900px;
    overflow: hidden;
  }
  .hero-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 41rem;
  }
  .hero-header .benny, .toggle-btn{
    margin-top: 20px;
  }
  .cake{
    display: none;
  }
  .nav-class a{
    float: none;
    display: block;
  }
  .nav-class{
    display: none;
  }
  .toggle-btn{
    display: block;
    font-size: 7rem;
  }

  .dropdown-menu{
    display: block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .dropdown-menu li{
    font-size: 55px;
  }
  .dropdown-menu .button-start{
    font-size: ;
    width: 400px;
    height: 120px;
    padding: 10px;
  }
  .main-header{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 70px;
  }
  .main-header p{
    text-align: center;
    font-size: 50px;
  }
  .main-header span{
    font-size: 100px;
    font-weight: bold;
  }
  .main-header button{
    width: 300px;
    height: 80px;
    font-size: 60px;
    font-family: sans-serif;
    border: 1px solid black;
    border-radius: 10px;
  }
}
